body[id='corpo'] {
    background: linear-gradient(to right, #fcff62, rgb(246, 242, 0), rgb(246, 242, 0), rgb(246, 242, 0), rgb(246, 242, 0), rgb(246, 242, 0), rgb(246, 242, 0), #fcff62);
    overflow-x: hidden;
    max-height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* Cabeçalho */
    div[id='cabeçalho'] {
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100px;
    }
    hr[id='linha cabeçalho'] {
        background-color: black;
        width: 100%;
        height: 11px;
        border: none;
        transform: translateY(-75%);
    }
    h1[id='cabeçalho Petz'] {
        text-align: center;
        font: 80pt Arial;
        font-weight: bolder;
        color: rgb(246, 242, 0);
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        transform: translateY(-165%);
    }
    img[id='pata cabeçalho 1'] {
        width: 13%;
        margin-left: 31%;
        transform: rotate(-16deg) translateY(-7%);
    }
    img[id='pata cabeçalho 2'] {
        width: 13%;
        margin-left: 54%;
        transform: rotate(16deg) translateY(-113%);
    }
    div[id='menu'] {
        margin-left: 90%;
        transform: translateY(-880%);
        width: 0%;
        hr[nome='barra'] {
        background-color: black;
        height: 8px;
        width: 50px;
        border: none;
        }
    }
/* Corpo 1 */
    div[id="Text 1"] {
        color: rgb(0, 0, 0);
        font: 16pt Arial;
        width: 20%;
        margin-left: 4.5%;
        transform: translateY(-43.5%);
        white-space: nowrap;
        text-shadow: 4px 4px 10px rgba(255, 247, 0, 0.952);
    }
    div[id="Text 2"] {
        color: rgb(0, 0, 0);
        font: 16pt Arial;
        width: 20%;
        margin-left: 75.7%;
        transform: translateY(-144%); 
        direction: rtl;
        white-space: nowrap;
        text-shadow: 4px 4px 10px rgba(255, 247, 0, 0.952);
    }
    img[id="Foto no meio do texto"] {
        height: 600px;
        width: auto;
        transform: translateY(-234%);
        margin-left: 30.1%;
    }
/* Corpo 2 */
    div[id="Template de ração"] {
        width: 96%;
        height: 300px;
        background-color: rgb(255, 255, 255);
        margin-left: 1.4%;
        transform: translateY(-415%);
        border: 10px solid black;
    }
    img[id="Ração mandai"] {
        height: auto;
        width: 24%;
        margin-left: -3%;
        transform: translateY(-9%);
    }
    p[id="Texto do corpo 2"] {
        font: 16pt Arial;
        width: 80%;
        margin-left: 18%;
        transform: translateY(-141%);
        white-space: nowrap;
    }
/* Corpo 3 */
    img[id="Ração preço 1"] {
        transform: translateY(-240%);
    }
    p[id="Ração preço 1 texto"] {
        font: 60pt Arial;
        margin-top: -97%;
        margin-left: 30%;
        font-weight: bold;
        color: rgb(255, 255, 253);
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        position: relative;
        animation: slideIn 0.50s forwards;
    }
    img[id="Ração preço 2"] {
        width: 19%;
        height: auto;
        transform: translateY(30%);
        margin-left: 74%;
    }
    p[id="Ração preço 2 texto"] {
        font: 60pt Arial;
        margin-top: -9%;
        margin-left: 45.5%;
        font-weight: bold;
        color: rgb(255, 255, 253);
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
        position: relative;
        animation: slideInRight 0.50s forwards;
    }
    @keyframes slideIn {
        from {
            transform: translateX(-100%); 
            opacity: 0; 
        }
        to {
            transform: translateX(0); 
            opacity: 1; 
        }
    }
    @keyframes slideInRight {
        from {
            transform: translateX(100%); 
            opacity: 0; 
        }
        to {
            transform: translateX(0); 
            opacity: 1; 
        }
    }
    div[id="Roda pé"] {
        flex: 1;
        padding: 20px;
        background-color: rgb(248, 248, 248);
    }
    .footer {
        bottom: 0;
        position: fixed;
        width: 100%;
        height: 100px;
        padding: 20px;
    }